!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %title Myapp
    %link(rel="stylesheet" href="/stylesheets/screen.css")
  %body.bp
    #container.showgrid
      %p Hello 
